/*RESET*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*COMPONTENTS*/
/*COLORS*/
/*MIXINS*/
/*HAMBURGER ICON*/
.hamburger {
  position: fixed;
  top: 20px;
  right: 0px;
  padding: 1em;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: #fff;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 1000;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  padding: 2px 0q;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
          transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.hamburger-black {
  background-color: black;
}

.hamburger-black::before, .hamburger-black::after {
  background-color: black;
}

/*OTHERS*/
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.button {
  position: absolute;
  padding: 0.4em 1.3em;
  border: 2px solid #fff;
  border-radius: 8px;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  overflow: hidden;
}

.button::after,
.button::before {
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: left .7s;
  transition: left .7s;
}

.button::before {
  top: -30px;
  left: -130px;
  height: 220%;
  width: 100px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(202, 240, 248, 0.5)), to(rgba(202, 240, 248, 0)));
  background-image: linear-gradient(-90deg, rgba(202, 240, 248, 0.5), rgba(202, 240, 248, 0));
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.button:hover::before {
  left: 130%;
}

.section-heading {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1em 0;
  color: #fff;
}

.section-heading::before {
  content: '01';
  position: absolute;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 5%;
}

.section-month {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1em 0;
  color: #fff;
  color: black;
  font-size: 1.5rem;
  color: rgba(12, 186, 186, 0.75);
}

.section-padding {
  padding: 4em 2em;
}

.shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slick-arrow {
  position: absolute;
  top: 40%;
  color: transparent;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 100;
}

.slick-prev {
  left: 0;
  background-image: url("../img/achievements/arrow-left.svg");
}

.slick-next {
  right: 0;
  background-image: url("../img/achievements/arrow-right.svg");
}

@media (min-width: 375px) {
  .section-heading {
    font-size: 3rem;
  }
  .section-month {
    font-size: 2rem;
  }
}

@media (min-width: 576px) {
  .hamburger {
    right: 20px;
  }
  .section-heading {
    font-size: 4rem;
  }
  .section-padding {
    padding: 6em 2em;
  }
}

@media (min-width: 768px) {
  .section-heading::before {
    font-size: 3em;
  }
  .section-month {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .section-month {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}

/*MIXINS*/
/*COLORS*/
/*ANIMATIONS*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heading-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heading-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

/*COMMON CLASSES*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Prompt', sans-serif;
}

section {
  overflow: hidden;
}

/*NAVIGATION*/
.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  inset: 0 0 0 30%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.85);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
  /*STYLES FOR BEST-SWIMMERS SUBSITE*/
}

@supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
  .navbar {
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
}

.navbar--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__item::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 2em;
  height: 2px;
  width: 75%;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.navbar__item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar__item span {
  letter-spacing: 0.2em;
  font-weight: bold;
}

.navbar__paragraph {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  font-size: 1rem;
}

.navbar__paragraph:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  height: 15px;
}

/*HEADER*/
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 90vh;
  padding: 2em;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  background-image: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75)), url("../img/header/header_mini.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header__heading {
  font-family: 'Bungee', cursive;
  font-size: 6.6rem;
}

.header__heading span {
  display: inline-block;
  -webkit-animation: heading-animation 0.3s linear forwards;
          animation: heading-animation 0.3s linear forwards;
  opacity: 0;
}

.header__heading span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.header__heading span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.header__heading span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.header__heading span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.header__heading span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.header__text {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  -webkit-animation: fade-in 0.4s 1s forwards;
          animation: fade-in 0.4s 1s forwards;
  opacity: 0;
}

.header__btn {
  bottom: 6em;
  -webkit-animation: fade-in 4s 1s forwards;
          animation: fade-in 4s 1s forwards;
  opacity: 0;
}

/*HEADER FOR BEST SWIMMERS SUBSITE*/
.header-best-swimmers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 90vh;
  padding: 2em;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
  background-image: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75)), url("../img/achievements/achievements_small.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-best-swimmers .best-swimmers-heading {
  font-size: 5rem;
}

.header-best-swimmers a {
  position: absolute;
  bottom: 4em;
  -webkit-animation: pulse 0.5s infinite alternate;
          animation: pulse 0.5s infinite alternate;
}

/*MAIN*/
/*ABOUT-ME*/
.about-me {
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(rgba(255, 255, 255, 0.68)), to(#fff)), url("../img/about-me/about-me.jpeg");
  background-image: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.68), #fff), url("../img/about-me/about-me.jpeg");
  background-size: cover;
  background-position: center;
  padding: 3em 2em;
}

.about-me .section-heading {
  color: black;
}

.about-me__content .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me__content .img img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.about-me__content .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 1em;
  font-size: 1.3rem;
  margin-bottom: 3em;
}

/*WHY SWIM?*/
.why-swim {
  position: relative;
  background-image: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75)), url("../img/why swim/swim_small.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-attachment: scroll;
  -webkit-clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);
  overflow: hidden;
}

.why-swim .section-heading::before {
  content: '';
}

.why-swim__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

.why-swim__item {
  padding: 2em 0;
  font-size: 1.2rem;
  color: #fff;
  z-index: 10;
}

.why-swim__item img {
  width: 5em;
}

/*BEST SWIMMERS*/
.best-swimmers {
  position: relative;
  background-image: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75)), url("../img/achievements/achievements_small.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-attachment: scroll;
  -webkit-clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
          clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
  margin-top: -10vw;
  padding-bottom: 10em;
}

.best-swimmers .section-heading::before {
  content: '02';
  right: -5%;
  left: inherit;
  top: 20%;
  color: rgba(255, 255, 255, 0.1);
}

.best-swimmers__box {
  position: relative;
}

.best-swimmers__card {
  text-align: center;
  padding: 3em 1em;
  z-index: 100;
}

.best-swimmers__card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  margin: 0 auto;
}

.best-swimmers__text {
  padding: 2em 0;
  color: #fff;
}

.best-swimmers__text-primary {
  text-transform: uppercase;
  font-size: 2rem;
}

.best-swimmers__text-secondary {
  font-style: italic;
}

.best-swimmers__btn {
  margin: 1.5em -3em;
  left: 50%;
}

.best-swimmers__btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

/*BEST SWIMMERS SUBSITE*/
.all-swimmers {
  padding: 0;
}

.all-swimmers .section-heading {
  color: black;
  padding-bottom: 0;
}

.all-swimmers .section-heading::before {
  content: '';
}

.all-swimmers__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  padding: 2em;
  text-align: center;
}

.all-swimmers__box--left {
  position: relative;
}

.all-swimmers__box--left .img-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
  height: 50%;
  visibility: hidden;
}

.all-swimmers__box img {
  width: 100%;
  border-radius: 8px;
}

.all-swimmers .white-block {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 15vw;
  background-color: #fff;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
}

/*NEWS*/
.news {
  padding: 0 2em;
}

.news .section-heading {
  color: black;
  padding: 2em;
}

.news .section-heading::before {
  content: '03';
  top: 20%;
  left: -5%;
}

.news__boxes {
  padding: 2em 0;
}

.news__box {
  position: relative;
  margin: 2em;
}

.news__box:hover .news__img {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.news__box:hover .news__body {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.news__box:hover .news__help {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.news__help {
  position: absolute;
  z-index: 100;
  right: 5px;
  top: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
}

.news__img, .news__body {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  border-radius: 8px;
}

.news__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.news__body {
  padding: 4em;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  background: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75));
  text-align: center;
  min-height: 20vw;
}

.news__heading {
  color: #fff;
}

.news__text-btn {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 10px;
  font-size: 0.7rem;
  border: 1px solid #fff;
}

.news__text-btn::before {
  height: 300%;
}

.news .slick-arrow {
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news .slick-prev {
  left: 46%;
}

.news .slick-next {
  right: 46%;
}

.news .slick-list {
  overflow: visible;
}

/*CONTACT*/
.contact {
  position: relative;
  padding: 0;
}

.contact iframe {
  max-width: 250px;
}

.contact .section-heading {
  color: black;
}

.contact .section-heading::before {
  content: '04';
  right: 2px;
  left: inherit;
  top: 6%;
}

.contact__box--column {
  text-align: center;
  padding: 2em;
}

.contact__box h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-bottom: 1em;
}

.contact__box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

.contact__box input,
.contact__box textarea,
.contact__box button {
  font-family: 'Prompt', sans-serif;
  border-radius: 8px;
  border: none;
  padding: 0.5em;
  background-color: gainsboro;
  margin: 0.5em;
}

.contact__box button {
  border: 2px solid black;
  background-color: #fff;
  width: 50%;
  margin: 2em auto;
  cursor: pointer;
  color: black;
}

.contact .white-block {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 15vw;
  background-color: #fff;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 50% 100%, 0 calc(100% - 10vw));
}

/*FOOTER*/
.footer {
  background-color: black;
  color: #fff;
  position: relative;
  margin-top: -10vw;
}

.footer__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  padding-top: 2em;
  bottom: 0;
}

.footer__box img {
  margin: 0 auto;
  padding: 2em;
}

.footer__box a {
  text-decoration: none;
  text-align: center;
  cursor: default;
}

.footer__box--one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box--two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer__box--three {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer__box--three .special-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box--three .text-phone {
  display: none;
}

.footer__box--four {
  position: relative;
}

.footer__box--four .text {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: grey;
  margin: auto 0;
}

/*POPUP ADD*/
.bg-popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-popup__content {
  position: relative;
  max-height: 700px;
  max-width: 500px;
  padding: 2em;
}

.bg-popup__content img {
  width: 100%;
  height: 100%;
}

.bg-popup__content .close {
  position: absolute;
  top: -20px;
  right: 17px;
  padding: 10px;
  font-size: 6rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

/*BREAKPOINTS*/
@media (min-width: 375px) {
  /*NAVIGATION*/
  .navbar__item, .navbar__item-second, .navbar__item-third {
    font-size: 1.6rem;
  }
  .navbar__paragraph {
    font-size: 1.3rem;
  }
  /*HEADER*/
  .header__heading {
    font-size: 8rem;
  }
  /*MAIN*/
  /*SWIMMERS OF THE MONTH*/
  .best-swimmers .section-heading::before {
    top: 7%;
  }
  /*BEST SWIMMERS SUBSITE*/
  .all-swimmers__box--left, .all-swimmers__box--right {
    font-size: 1.5rem;
  }
  /*CONTACT*/
  .contact iframe {
    max-width: 300px;
  }
  .contact__box h3 {
    font-size: 2rem;
  }
}

@media (min-width: 576px) {
  /*NAVIGATION*/
  .burger-btn__box {
    width: 60px;
    height: 40px;
  }
  .burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
    height: 3.5px;
  }
  .burger-btn__bars::after {
    top: 16px;
    width: 60%;
  }
  .burger-btn__bars::before {
    top: 32px;
    width: 30%;
  }
  .navbar__item, .navbar__item-second, .navbar__item-third {
    font-size: 2.5rem;
  }
  .navbar__paragraph {
    font-size: 1.8rem;
  }
  .navbar__arrow {
    height: 24px;
  }
  /*HEADER*/
  .header {
    background-image: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75)), url("../img/header/header_big.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .header__heading {
    font-size: 12rem;
  }
  .header__text {
    font-size: 1.6rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  /*HEADER FOR BEST SWIMMERS SUBSITE*/
  .header-best-swimmers {
    background-image: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75)), url("../img/achievements/achievements__big.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .header-best-swimmers .best-swimmers-heading {
    font-size: 8rem;
  }
  .header-best-swimmers img {
    height: 30px;
  }
  /*MAIN*/
  /*ABOUT-ME*/
  .about-me .section-heading::before {
    left: 10%;
  }
  .about-me__content .img img {
    width: 300px;
    height: 300px;
  }
  .about-me__content .description {
    font-size: 1.6rem;
  }
  /*WHY SWIM*/
  .why-swim__box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5em;
  }
  .why-swim__item img {
    width: 6em;
  }
  /*BEST SWIMMERS*/
  .best-swimmers .section-heading::before {
    right: 5%;
  }
  .best-swimmers__btn {
    padding: 0.6em 1.5em;
  }
  /*BEST SWIMMERS SUBSITE*/
  .all-swimmers .section-heading {
    padding-bottom: 1em;
  }
  .all-swimmers .container .all-swimmers__box:nth-of-type(odd) .all-swimmers__box--left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .all-swimmers .container .all-swimmers__box:nth-of-type(odd) .all-swimmers__box--left .img-bg {
    left: 50%;
  }
  .all-swimmers .container .all-swimmers__box:nth-of-type(odd) .all-swimmers__box--right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .all-swimmers__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 3em;
  }
  .all-swimmers__box--left, .all-swimmers__box--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*NEWS*/
  .news .section-heading::before {
    left: 10%;
  }
  .news__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__heading {
    font-size: 2rem;
  }
  .news__text-btn {
    font-size: 1.1rem;
    border: 2px solid #fff;
  }
  /*CONTACT*/
  .contact .section-heading::before {
    top: -15%;
  }
  .contact__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  /*FOOTER*/
  .footer__box {
    padding-top: 4em;
  }
}

@media (min-width: 768px) {
  /*MAIN*/
  /*ABOUT-ME*/
  .about-me .section-heading::before {
    top: -15%;
    left: 0;
  }
  .about-me__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 5em;
  }
  .about-me__content .img img {
    width: 250px;
    height: 250px;
  }
  .about-me__content .description {
    margin-bottom: 0;
  }
  /*WHY SWIM*/
  .why-swim {
    background-image: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75)), url("../img/why swim/swim_big.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }
  /*BEST SWIMMERS*/
  .best-swimmers {
    background-image: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75)), url("../img/achievements/achievements__big.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-bottom: 13em;
  }
  .best-swimmers .section-heading::before {
    top: -15%;
    right: 0;
  }
  .best-swimmers__btn {
    padding: 0.6em 1.5em;
  }
  /*BEST SWIMMERS SUBSITE*/
  .all-swimmers__box--left, .all-swimmers__box--right {
    font-size: 2rem;
  }
  /*NEWS*/
  .news .section-heading::before {
    top: 5%;
    left: 0;
  }
  .news__text-btn {
    font-size: 1.1rem;
    border: 2px solid #fff;
  }
  /*CONTACT*/
  .contact iframe {
    max-width: 350px;
  }
  /*FOOTER*/
  .footer__box {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .footer__box img {
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .footer__box img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .footer__box .special-img {
    margin: 0;
  }
  .footer__box--two {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .footer__box--three {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__box--three img {
    margin: 0;
  }
  .footer__box--three .text-phone {
    display: block;
    font-size: 2rem;
    color: #0FFF50;
    margin: auto 0;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .footer__box--three .text-phone:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .footer__box--four {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .footer__box--four .text {
    display: block;
  }
}

@media (min-width: 819px) {
  /*BEST SWIMMERS*/
  .best-swimmers__card {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .best-swimmers__card.slick-current + .best-swimmers__card {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 992px) {
  /*NAVIGATION*/
  .navbar__item, .navbar__item-second, .navbar__item-third {
    font-size: 3rem;
  }
  /*HEADER FOR BEST SWIMMERS*/
  .header-best-swimmers img {
    height: 40px;
  }
  /*ABOUT ME*/
  .about-me {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(rgba(255, 255, 255, 0.68)), to(#fff)), url("../img/about-me/about-me-big.jpeg");
    background-image: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.68), #fff), url("../img/about-me/about-me-big.jpeg");
    background-size: cover;
    background-position: center;
    padding-bottom: 13em;
  }
  .about-me__content {
    gap: 7em;
  }
  /*WHY SWIM*/
  .why-swim__box {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding-bottom: 12em;
  }
  .why-swim__item img {
    width: 7em;
  }
  /*CONTACT*/
  .contact iframe {
    max-width: 500px;
  }
  .contact__box h3 {
    font-size: 2.5rem;
  }
  /*FOOTER*/
  .footer__box {
    padding-top: 6em;
  }
}

@media (min-width: 1200px) {
  /*HEADER FOR BEST SWIMMERS SUBSITE*/
  .header-best-swimmers .best-swimmers-heading {
    font-size: 10rem;
  }
  /*ABOUT ME*/
  .about-me {
    padding-bottom: 10em;
  }
  .about-me__content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 3em;
  }
  .about-me__content .mati-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .about-me__content .mati-img img {
    height: 300px;
    width: 300px;
  }
  .about-me__content .mati-description {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    font-size: 1.9rem;
  }
  .about-me__content .maciek-img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .about-me__content .maciek-description {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .about-me__content .bartek-img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .about-me__content .bartek-description {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
  .about-me__content .oliwia-img {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .about-me__content .oliwia-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .about-me__content .ania-img {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .about-me__content .ania-description {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
  /*MAIN*/
  /*BEST SWIMMERS*/
  .best-swimmers {
    padding-bottom: 20em;
  }
  .best-swimmers__btn {
    margin: 4em -3em;
  }
  .best-swimmers__btn a {
    font-size: 1.3rem;
  }
  /*BEST SWIMMERS SUBSITE*/
  .all-swimmers .section-heading {
    font-size: 6rem;
  }
  .all-swimmers__box--left .img-bg {
    visibility: visible;
  }
  .all-swimmers__box--left img {
    width: auto;
    height: 500px;
  }
  /*NEWS*/
  .news__body {
    min-height: 250px;
  }
  .news__text-btn {
    font-size: 1.5rem;
  }
  /*FOOTER*/
  .footer__box {
    padding-top: 6vw;
  }
  .footer__box img {
    width: 80px;
  }
}

@media (min-width: 1200px) and (min-width: 1400px) {
  /*WHY SWIM*/
  .why-swim .section-heading {
    padding-top: 2em;
  }
  .why-swim.section-padding {
    padding: 13em 2em;
  }
  /*BEST SWIMMERS*/
  .best-swimmers {
    padding-bottom: 27em;
  }
  /*CONTACT*/
  .contact .white-block {
    height: 12vw;
  }
}

@media (min-width: 1200px) and (min-width: 2100px) {
  /*WHY-SWIM*/
  .why-swim {
    padding: 20em 2em;
  }
  /*BEST SWIMMERS*/
  .best-swimmers {
    padding-bottom: 32em;
  }
  /*FOOTER*/
  .footer__box--three {
    padding-top: 2em;
  }
}

@media (min-width: 1200px) and (min-width: 2500px) {
  /*WHY SWIM*/
  .why-swim.section-padding {
    padding: 17em 2em;
  }
  /*BEST SWIMMERS*/
  .best-swimmers {
    padding: 17em 0 32em;
  }
}

@media (min-width: 1200px) and (min-width: 3500px) {
  /*WHY SWIM*/
  .why-swim.section-padding {
    padding: 20em 2em;
  }
  /*BEST SWIMMERS*/
  .best-swimmers {
    padding: 20em 0 32em;
  }
}

@media (min-width: 1200px) and (min-width: 4000px) {
  /*WHY SWIM*/
  .why-swim.section-padding {
    padding: 24em 2em;
  }
  /*BEST SWIMMERS*/
  .best-swimmers {
    padding: 24em 0 35em;
  }
  /*FOOTER*/
  .footer__box--three {
    padding-top: 4em;
  }
}
/*# sourceMappingURL=main.css.map */