$white: #fff;
$black: rgb(0, 0, 0);
$navigationMainBackground:  hsla(0, 0%, 0%, 0.5);
$navigationSecondBackground: hsla(0, 0%, 0%, 0.85);

$main-gradient: linear-gradient(315deg, rgba(12, 186, 186, 0.75), rgba(56, 0, 54, 0.75));
$sectionMontColor: rgba(12, 186, 186, 0.75);