/*COLORS*/
@import './colors';

/*MIXINS*/
@import './mixins';

/*HAMBURGER ICON*/
.hamburger {
    position: fixed;
    top: 20px;
    right: 0px;
    padding: 1em;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: $white;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 1000;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: $white;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    padding: 2px 0q;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: $white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--slider .hamburger-inner {
    top: 2px;
}

.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
    top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.hamburger-black {
    background-color: $black;

    &::before,
    &::after {
        background-color: $black;
    }
}

/*OTHERS*/
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.button {
    position: absolute;
    padding: 0.4em 1.3em;
    border: 2px solid $white;
    border-radius: 8px;
    font-size: 1.1rem;
    color: $white;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
}

.button::after,
.button::before {
    position: absolute;
    display: block;
    content: '';
    transition: left .7s;
}

.button::before {
    top: -30px;
    left: -130px;
    height: 220%;
    width: 100px;
    background-image: linear-gradient(-90deg, rgba(202, 240, 248, 0.5), rgba(202, 240, 248, 0));
    transform: rotate(20deg);
}

.button:hover::before {
    left: 130%;
}

.section-heading {
    @include section-heading;

    &::before {
        content: '01';
        position: absolute;
        font-size: 2em;
        color: rgba(0, 0, 0, 0.1);
        left: 0;
        top: 5%;
    }
}

.section-month {
    @include section-heading;
    color: $black;
    font-size: 1.5rem;
    color: $sectionMontColor;
}

.section-padding {
    padding: 4em 2em;
}

.shadow {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slick-arrow {
    position: absolute;
    top: 40%;
    color: transparent;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;

}

.slick-prev {
    left: 0;
    background-image: url('../img/achievements/arrow-left.svg');
}

.slick-next {
    right: 0;
    background-image: url('../img/achievements/arrow-right.svg');
}

@media (min-width: 375px) {

    .section-heading {
        font-size: 3rem;
    }

    .section-month {
        font-size: 2rem;
    }
}

@media (min-width: 576px) {
    .hamburger {
        right: 20px;
    }

    .section-heading {
        font-size: 4rem;
    }

    .section-padding {
        padding: 6em 2em;
    }
}

@media (min-width: 768px) {
    .section-heading {
        &::before {
            font-size: 3em;
        }
    }

    .section-month {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    .section-month {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {

    .section-heading {
        font-size: 4.8rem;
    }

    .section-padding {
        padding: 10em 2em;
    }
}