@media (min-width: 992px) {

    /*NAVIGATION*/
    .navbar {

        &__item,
        &__item-second,
        &__item-third {
            font-size: 3rem;
        }
    }

    /*HEADER FOR BEST SWIMMERS*/
    .header-best-swimmers {
        img {
            height: 40px;
        }
    }

    /*ABOUT ME*/
    .about-me {
        @include backgroundGradient('../img/about-me/about-me-big.jpeg');
        padding-bottom: 13em;
    }

    /*WHY SWIM*/
    .why-swim {
        &__box {
            grid-template-columns: repeat(4, 1fr);
            padding-bottom: 12em;
        }

        &__item {
            img {
                width: 7em;
            }
        }
    }

    /*CONTACT*/
    .contact {
        iframe {
            max-width: 500px;
        }

        &__box {
            h3 {
                font-size: 2.5rem;
            }
        }
    }

    /*FOOTER*/
    .footer {
        &__box {
            padding-top: 6em;
        }
    }
}

@media(min-width: 1200px) {

    /*HEADER FOR BEST SWIMMERS SUBSITE*/
    .header-best-swimmers {

        .best-swimmers-heading {
            font-size: 10rem;
        }
    }

    /*ABOUT ME*/
    .about-me {
        padding-bottom: 10em;
    }

    /*MAIN*/
    /*BEST SWIMMERS*/
    .best-swimmers {
        padding-bottom: 20em;

        &__btn {
            margin: 4em -3em;

            a {
                font-size: 1.3rem;
            }
        }
    }

    /*BEST SWIMMERS SUBSITE*/
    .all-swimmers {
        .section-heading {
            font-size: 6rem;
        }

        &__box {
            img {
                width: auto;
                height: 500px;
            }
        }
    }

    /*NEWS*/
    .news {
        &__body {
            min-height: 250px;
        }

        &__text-btn {
            font-size: 1.5rem;
        }
    }

    /*FOOTER*/
    .footer {
        &__box {
            padding-top: 6vw;

            img {
                width: 80px;
            }
        }
    }
}

@media (min-width: 1400px) {

    /*WHY SWIM*/
    .why-swim {
        .section-heading {
            padding-top: 2em;
        }
    }

    /*BEST SWIMMERS*/
    .best-swimmers {
        padding-bottom: 25em;
    }

    /*CONTACT*/
    .contact {
        .white-block {
            height: 12vw;
        }
    }
}