@media (min-width: 576px) {

    /*NAVIGATION*/
    .burger-btn {
        &__box {
            width: 60px;
            height: 40px;
        }

        &__bars,
        &__bars::after,
        &__bars::before {
            height: 3.5px;
        }

        &__bars {

            &::after {
                top: 16px;
                width: 60%;
            }

            &::before {
                top: 32px;
                width: 30%;
            }
        }
    }

    .navbar {
        &__item {
            font-size: 2.5rem;
        }
    }

    /*HEADER*/
    .header {
        @include heroImages('../img/header/header_big.jpeg', fixed);

        &__heading {
            font-size: 12rem;
        }

        &__text {
            font-size: 1.6rem;
        }

        &__btn {
            font-size: 1.6rem;
        }
    }

    /*MAIN*/
    /*ABOUT-ME*/
    .about-me {
        p {
            font-size: 1.4rem;
        }
    }
}

@media (min-width: 768px) {
    /*MAIN*/
    /*ABOUT-ME*/
    .about-me {
        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /*WHY SWIM*/
    .why-swim {
        @include heroImages ('../img/why swim/swim_big.jpeg', scroll);
    }

    /*SWIMMERS OF A MONTH*/ 
    .best-swimmers {
        @include heroImages ('../img/achievements/achievements__big.jpeg', scroll);
    }

}