@media (min-width: 576px) {

    /*NAVIGATION*/
    .burger-btn {
        &__box {
            width: 60px;
            height: 40px;
        }

        &__bars,
        &__bars::after,
        &__bars::before {
            height: 3.5px;
        }

        &__bars {

            &::after {
                top: 16px;
                width: 60%;
            }

            &::before {
                top: 32px;
                width: 30%;
            }
        }
    }

    .navbar {
        &__item {
            font-size: 2.5rem;
        }
    }

    /*HEADER*/
    .header {
        @include heroImages('../img/header/header_big.jpeg', fixed);

        &__heading {
            font-size: 12rem;
        }

        &__text {
            font-size: 1.6rem;
        }

        &__btn {
            font-size: 1.6rem;
        }
    }

    /*MAIN*/
    /*ABOUT-ME*/
    .about-me {
        .section-heading {
            &::before {
                left: 10%;
            }
        }

        p {
            font-size: 1.4rem;
        }
    }

    /*WHY SWIM*/
    .why-swim {
        &__box {
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 5em;
        }

        &__item {
            img {
                width: 6em;
            }
        }
    }

    /*SWIMMERS OF A MONTH*/
    .best-swimmers {
        .section-heading {
            &::before {
                right: 5%;
            }
        }

        &__btn {
            padding: 0.6em 1.5em;
        }
    }

    /*NEWS*/
    .news {
        .section-heading {
            &::before {
                left: 10%;
            }
        }
    }
}

@media (min-width: 768px) {

    /*MAIN*/
    /*ABOUT-ME*/
    .about-me {
        .section-heading {
            &::before {
                top: -15%;
                left: 0;
            }
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /*WHY SWIM*/
    .why-swim {
        @include heroImages ('../img/why swim/swim_big.jpeg', scroll);
    }

    /*SWIMMERS OF A MONTH*/
    .best-swimmers {
        @include heroImages ('../img/achievements/achievements__big.jpeg', scroll);
        padding-bottom: 13em;

        .section-heading {
            &::before {
                top: -15%;
                right: 0;
            }
        }

        &__btn {
            padding: 0.6em 1.5em;
        }
    }

    /*NEWS*/
    .news {
        .section-heading {
            &::before {
                top: -15%;
                left: 0;
            }
        }
    }
}

@media (min-width: 819px) {

    /*SWIMMERS OF A MONTH*/
    .best-swimmers {
        &__card {
            transition: transform .2s;
            transform: scale(0.7);
        }

        &__card.slick-current+&__card {
            transform: scale(1.2);
        }
    }
}