@mixin heroImages ($bgImg, $attachment) {
    background-image: $main-gradient, url($bgImg);
    background-size: cover;
    background-position: center;
    background-attachment: $attachment;
}

@mixin backgroundGradient ($bgImg) {
    background-image: linear-gradient(0deg, $white, rgba(255, 255, 255, 0.68), $white), url($bgImg);
    background-size: cover;
    background-position: center;
}