@mixin heroImages ($bgImg, $attachment) {
    background-image: $main-gradient, url($bgImg);
    background-size: cover;
    background-position: center;
    background-attachment: $attachment;
}

@mixin sectionHeading ($color) {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 1em 0;
    color: $color;
}