@media(min-width: 375px) {

    /*NAVIGATION*/
    .navbar {

        &__item,
        &__item-second,
        &__item-third {
            font-size: 1.6rem;
        }

        &__paragraph {
            font-size: 1.3rem;
        }
    }

    /*HEADER*/
    .header {
        &__heading {
            font-size: 8rem;
        }
    }

    /*MAIN*/
    /*SWIMMERS OF THE MONTH*/
    .best-swimmers {
        .section-heading {
            &::before {
                top: 7%;
            }
        }
    }

    /*BEST SWIMMERS SUBSITE*/
    .all-swimmers {
        &__box {

            &--left,
            &--right {
                font-size: 1.5rem;
            }
        }
    }

    /*CONTACT*/
    .contact {
        iframe {
            max-width: 300px;
        }

        &__box {
            h3 {
                font-size: 2rem;
            }
        }
    }
}