@media(min-width: 375px) {
    /*NAVIGATION*/ 
    .navbar {
        &__item {
            font-size: 1.6rem;
        }
    }
    /*HEADER*/ 
    .header {
        &__heading {
            font-size: 9rem;
        }
    }

    /*MAIN*/ 
    /*SWIMMERS OF THE MONTH*/ 
    .best-swimmers {
        .section-heading {
            &::before {
                top: 7%;
            }
        }
    }

    /*CONTACT*/ 
    .contact {
       iframe {
           max-width: 300px;
       }

       &__box {
        h3 {
            font-size: 2rem;
        }
    }
    }
}