/*RESET*/
@import './reset';

/*COMPONTENTS*/
@import './components';

/*MIXINS*/
@import './mixins';

/*COLORS*/
@import './colors';

/*COMMON CLASSES*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Prompt', sans-serif;
}

/*NAVIGATION*/
.burger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

    &:hover {

        .burger-btn__bars::after,
        .burger-btn__bars::before {
            width: 100%;
        }
    }

    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }

    &__bars,
    &__bars::after,
    &__bars::before {
        position: absolute;
        right: 0;
        height: 3px;
        content: '';
        background-color: $white;
        transition: width .3s;
    }

    &__bars {
        width: 100%;

        &::after {
            top: 13px;
            width: 60%;
        }

        &::before {
            top: 27px;
            width: 30%;
        }
    }
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    inset: 0 0 0 30%;
    z-index: 100;
    background: $navigationSecondBackground;
    transform: translateX(100%);
    transition: .4s ease-in;

    @supports (backdrop-filter: blur(1rem)) {
        background: $navigationMainBackground;
        backdrop-filter: blur(1rem);
    }

    &--active {
        transform: translateX(0);
    }

    &__item {
        position: relative;
        display: block;
        margin: 0.5em 0;
        padding: 0.5em 2em;
        font-size: 1.2rem;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        &::before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 2em;
            height: 2px;
            width: 75%;
            background-color: $white;
            transform: scaleX(0);
            transition: transform .3s;
        }

        &:hover::before {
            transform: scaleX(1);
        }

        span {
            letter-spacing: 0.2em;
            font-weight: bold;
        }
    }
}

/*HEADER*/
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    height: 90vh;
    padding: 2em;
    text-align: center;
    @include heroImages('../img/header/header_mini.jpeg', fixed);
    clip-path: polygon(0 0,
            100% 0,
            100% calc(100% - 10vw),
            50% 100%,
            0 calc(100% - 10vw));

    &__heading {
        font-family: 'Bungee', cursive;
        font-size: 7.5rem;
    }

    &__text {
        font-family: 'Prompt', sans-serif;
        font-size: 1.2rem;
        font-style: italic;
    }

    &__btn {
        position: absolute;
        bottom: 6em;
        padding: 0.4em 1.3em;
        border: none;
        border-radius: 8px;
        font-size: 1.1rem;
        color: $black;
        cursor: pointer;
        text-decoration: none;
        background-color: #fff;
    }
}

/*MAIN*/
/*ABOUT-ME*/
.about-me {
    position: relative;

    .section-heading {
        color: $black;
    }

    p {
        padding: 2em 5em;
    }
}

/*WHY SWIM?*/
.why-swim {
    position: relative;
    @include heroImages('../img/why swim/swim_small.jpeg', scroll);
    background-attachment: scroll;
    min-height: 90vh;
    clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);
    overflow: hidden;
}

/*SWIMMERS OF A MONTH*/
.best-swimmers {
    position: relative;
    @include heroImages('../img/achievements/achievements_small.jpeg', scroll);
    background-attachment: scroll;
    min-height: 90vh;
    clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
    margin-top: -10vw;
}

/*CONTACT*/
.contact {
    height: 50vh;
}

/*BREAKPOINTS*/
@import './small';
@import './medium';
@import './large';