/*RESET*/
@import './reset';

/*COMPONTENTS*/
@import './components';

/*MIXINS*/
@import './mixins';

/*COLORS*/
@import './colors';

/*ANIMATIONS*/
@import './animations';

/*COMMON CLASSES*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Prompt', sans-serif;
}

section {
    overflow: hidden;
}

/*NAVIGATION*/
.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    inset: 0 0 0 30%;
    z-index: 100;
    background: $navigationSecondBackground;
    transform: translateX(100%);
    transition: .4s ease-in;

    @supports (backdrop-filter: blur(1rem)) {
        background: $navigationMainBackground;
        backdrop-filter: blur(1rem);
    }

    &--active {
        transform: translateX(0);
    }

    &__item,
    &__item-second,
    &__item-third {
        @include navbar__item;

        &::before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 2em;
            height: 2px;
            width: 75%;
            background-color: $white;
            transform: scaleX(0);
            transition: transform .3s;
        }

        &:hover::before {
            transform: scaleX(1);
        }

        span {
            letter-spacing: 0.2em;
            font-weight: bold;
        }
    }

    /*STYLES FOR BEST-SWIMMERS SUBSITE*/
    &__paragraph {
        @include navbar__item;
        text-align: center;
        transition: transform .3s;
        font-size: 1rem;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        height: 15px;
    }
}

/*HEADER*/
.header {
    @include headerStyles;
    @include heroImages('../img/header/header_mini.jpeg', fixed);

    &__heading {
        font-family: 'Bungee', cursive;
        font-size: 6.6rem;

        span {
            display: inline-block;
            animation: heading-animation 1s linear forwards;
            opacity: 0;

            &:nth-child(1) {
                animation-delay: 0.5s;
            }

            &:nth-child(2) {
                animation-delay: 1s;
            }

            &:nth-child(3) {
                animation-delay: 1.5s;
            }

            &:nth-child(4) {
                animation-delay: 2s;
            }

            &:nth-child(5) {
                animation-delay: 2.5s;
            }
        }
    }

    &__text {
        font-family: 'Prompt', sans-serif;
        font-size: 1.2rem;
        font-style: italic;
        animation: fade-in 3s 3.5s forwards;
        opacity: 0;
    }

    &__btn {
        bottom: 6em;
        animation: fade-in 3s 4s forwards;

        opacity: 0;
    }
}

/*HEADER FOR BEST SWIMMERS SUBSITE*/ 
.header-best-swimmers {
    @include headerStyles;
    @include heroImages('../img/achievements/achievements_small.jpeg', fixed);

    .best-swimmers-heading {
        font-size: 5rem;
    }
}

/*MAIN*/
/*ABOUT-ME*/
.about-me {
    position: relative;
    @include backgroundGradient('../img/about-me/about-me.jpeg');
    padding: 3em 2em;

    .section-heading {
        color: $black;
    }

    p {
        padding: 2em 5em;
    }
}

/*WHY SWIM?*/
.why-swim {
    position: relative;
    @include heroImages('../img/why swim/swim_small.jpeg', scroll);
    background-attachment: scroll;
    clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);
    overflow: hidden;

    .section-heading::before {
        content: '';
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    &__item {
        padding: 2em 0;
        font-size: 1.2rem;
        color: $white;
        z-index: 10;

        img {
            width: 5em;
        }
    }
}

/*BEST SWIMMERS*/
.best-swimmers {
    position: relative;
    @include heroImages('../img/achievements/achievements_small.jpeg', scroll);
    background-attachment: scroll;
    clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
    margin-top: -10vw;
    padding-bottom: 10em;

    .section-heading {
        &::before {
            content: '02';
            right: -5%;
            left: inherit;
            top: 20%;
            color: rgba(255, 255, 255, 0.1);
        }
    }

    &__box {
        position: relative;
    }

    &__card {
        text-align: center;
        padding: 3em 1em;
        z-index: 100;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            box-shadow: 5px 5px 10px $black;
            margin: 0 auto;
        }
    }

    &__text {
        padding: 2em 0;
        color: $white;
    }

    &__text-primary {
        text-transform: uppercase;
        font-size: 2rem;
    }

    &__text-secondary {
        font-style: italic;
    }

    &__btn {
        margin: 1.5em -3em;
        left: 50%;

        a {
            text-decoration: none;
            color: $white;
            font-size: 1.1rem;
        }
    }
}

/*BEST SWIMMERS SUBSITE*/
.all-swimmers {
    padding: 0;

    .section-heading {
        color: $black;
        padding-bottom: 0;

        &::before {
            content: '';
        }
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
        padding: 2em;
        text-align: center;


        img {
            width: 100%;
            border-radius: 8px;
        }
    }

    .white-block {
        @include white-block;
    }
}

/*NEWS*/
.news {
    padding: 0 2em;

    .section-heading {
        color: $black;
        padding: 2em;

        &::before {
            content: '03';
            top: 5%;
            left: -5%;
        }
    }

    &__boxes {
        padding: 2em 0;
    }

    &__box {
        position: relative;
        margin: 2em;

        &:hover {
            .news__img {
                transform: perspective(600px) rotateY(-180deg);
            }

            .news__body {
                transform: perspective(600px) rotateY(0deg);
            }
        }
    }

    &__img,
    &__body {
        backface-visibility: hidden;
        transition: transform .6s;
        border-radius: 8px;

    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: perspective(600px) rotateY(0deg);


    }

    &__body {
        padding: 4em;
        transform: perspective(600px) rotateY(180deg);
        background: $main-gradient;
        text-align: center;
        min-height: 20vw;
    }

    &__text-btn {
        transform: translateX(-50%);
        left: 50%;
        bottom: 10px;
        font-size: 0.7rem;
        border: 1px solid $white;

        &::before {
            height: 300%;
        }

    }


    .slick-arrow {
        top: 0;
        transform: translateY(-50%);
    }

    .slick-prev {
        left: 46%;
    }

    .slick-next {
        right: 46%;
    }

    .slick-list {
        overflow: visible;
    }
}

/*CONTACT*/
.contact {
    position: relative;
    padding: 0;

    iframe {
        max-width: 250px;
    }

    .section-heading {
        color: $black;

        &::before {
            content: '04';
            right: 2px;
            left: inherit;
            top: 6%;
        }
    }

    &__box {
        &--column {
            text-align: center;
            padding: 2em;
        }

        h3 {
            text-transform: uppercase;
            font-size: 1.6rem;
            padding-bottom: 1.5em;

        }

        form {
            display: flex;
            flex-direction: column;
            padding: 2em;
        }

        input,
        textarea,
        button {
            font-family: 'Prompt', sans-serif;
            border-radius: 8px;
            border: none;
            padding: 0.5em;
            background-color: rgb(220, 220, 220);
            margin: 0.5em;
        }

        button {
            border: 2px solid $black;
            background-color: $white;
            width: 50%;
            margin: 2em auto;
            cursor: pointer;
        }
    }

    .white-block {
        @include white-block;
    }
}

/*FOOTER*/
.footer {
    background-color: $black;
    color: $white;
    position: relative;
    margin-top: -10vw;

    /* &::before {
        content: '';
        position: absolute;
        clip-path: polygon(50% calc(100% - 10vw), 0 0, 100% 0);
        top: 0;
        height: 200px;
        width: 100%;
        background-color: red;
        z-index: 100;
    }*/


    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-top: 2em;
        bottom: 0;

        img {
            margin: 0 auto;
            padding: 2em;
        }

        a {
            text-decoration: none;
            text-align: center;
            cursor: default;
        }

        &--one {
            grid-column: 1 / 2;
            display: flex;
        }

        &--two {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        &--three {
            grid-column: 2/3;

            .special-img {
                display: flex;
            }

            .text-phone {
                display: none;
            }
        }

        &--four {
            position: relative;

            .text {
                position: absolute;
                right: 15px;
                bottom: 15px;
                color: grey;
                margin: auto 0;
            }
        }
    }
}

/*BREAKPOINTS*/
@import './small';
@import './medium';
@import './large';